# GPT-SoVITs
/gpt-sovits/

# vosk
/vosk/

# unused_frontend
**/AronaClient-PC/

# frontend config
**/Config/

# models
/models/
/llm/chatglm3/

# aronaLM training data
/llm/aronaLM/data/raw/
/llm/aronaLM/data/processed/

# aronaLM checkpoints
/llm/aronaLM/checkpoints/

# logs
/logs/

# pycache
**/__pycache__/

# QMake files
**/build/
**/build-*/
#**/release/
#**/debug/
**/x64/
**/x86/

# VS2022 Files
bin/
.vs/
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
/frontend/AronaAI_Spine_WindowsClient/Config/
